<div class="row">
  <div class="large-10 large-centered columns">
  <h3>Edit user</h3>
    <div class="row">
      <%= form_for @user, url: "#{users_path}/#{@user.id}/update" do |f| %>
	<div class="small-6 columns">
	  <%= f.label :prenom %>
	  <%= f.text_field :firstname, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :nom %>
	  <%= f.text_field :lastname, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :mail %>
	  <%= f.email_field :mail, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :tel %>
	  <%= f.telephone_field :tel, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :login %>
	  <%= f.text_field :login, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :promo %>
	  <%= f.text_field :promo, required: true %> <br />
	</div>
	<div class="small-6 columns">
	  <%= f.label :password %>
	  <%= f.password_field :password %> <br />
	</div>
	<div class="small-6 columns">
	  <%= label_tag :password_verification %>
	  <%= password_field_tag :password_verification %> <br />
	</div>
	<% if admin? %> 
	  <div class="small-6 columns">
	    <%= f.check_box :actif %>
	    <%= f.label :actif %>
	    <% if current_user != @user %>
	      <%= f.check_box :admin %>
	      <%= f.label :admin %>
	    <% end %>
	    <%= f.label :total_days %>
	    <%= f.text_field :total_days, required: true %> <br />
	  </div>
	<% end %>
	<%= hidden_field_tag :invitation, value: params[:invitation] %> <br />
	<div class="small-6 columns right">
	  <%= f.submit "Update", class: "button right" %>
	</div>
      <% end %>
    </div>
  </div>
</div>
