<div class='row'>
  <div class="small-12 columns">
    <h3>Directory</h3>
    <table>
      <thead>
	<tr>
	  <th>Login</th>
	  <th>Firstname</th>
	  <th>Lastname</th>
	  <th>Phone</th>
	  <th>Mail</th>
	  <th>Promo</th>
	  <th>Actif</th>
	  <% if admin? %>
	    <th width="100">Edit</th>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.login %></td>
	    <td><%= user.firstname %></td>
	    <td><%= user.lastname %></td>
	    <td><%= user.tel %></td>
	    <td><%= user.mail %></td>
	    <td><%= user.promo %></td>
	    <td><%= user.actif ? "Yes" : "No" %></td>
	    <% if admin? %>
	      <td><%= link_to "Edit", root_path, class: "postfix button alert nomargin" %></td>
	    <% end %>
	  </tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
