<div class='row'>
  <div class="small-12 columns">
    <h3>Directory</h3>
    <table>
      <thead>
	<tr>
	  <th>Login</th>
	  <th class="hide-for-small-only">Firstname</th>
	  <th class="hide-for-small-only">Lastname</th>
	  <th>Phone</th>
	  <th>Mail</th>
	  <th class="hide-for-small-only">Promo</th>
	  <th class="hide-for-small-only">Actif</th>
	  <% if admin? %>
	    <th width="100" class="hide-for-small-only">Edit</th>
	    <th width="100" class="hide-for-small-only">Delete</th>
	  <% end %>
	</tr>
      </thead>
      <tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.login %></td>
	    <td class="hide-for-small-only"><%= user.firstname %></td>
	    <td class="hide-for-small-only"><%= user.lastname %></td>
	    <td><%= user.tel %></td>
	    <td><%= user.mail %></td>
	    <td class="hide-for-small-only"><%= user.promo %></td>
	    <td class="hide-for-small-only"><%= user.actif ? "Yes" : "No" %></td>
	    <% if admin? %>
	      <td class="hide-for-small-only"><%= link_to "Edit", "#{users_path}/#{user.id}/edit",
		  class: "postfix button alert nomargin" %></td>
	      <td class="hide-for-small-only"><%= link_to "Delete", user == current_user ? "#" : "#{users_path}/#{user.id}/delete",
		  class: "postfix button nomargin #{user == current_user ? 'inactive' : 'alert'}" %></td>
	    <% end %>
	  </tr>
	<% end %>
      </tbody>
    </table>
  </div>
</div>
