<div class="row">
  <div class="large-6 large-centered columns">
    <div class="row">
      <div class="small-12 columns">
	<br />
	<%= form_for :user, :url => :signin do |f| %>
	  <%= f.label :login %>
	  <%= f.text_field :login %><br />
	  <%= f.label :password %>
	  <%= f.password_field :password %><br />
	  <%= f.submit "Connexion", class: "button right" %>
	<% end %>
      </div>
    </div>
  </div>
</div>
