<!-- Mobile topbar -->
<nav class="top-bar show-for-small-only" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><%= link_to "Today", planning_path %></li>
      <li><%= link_to "Week",  "#{planning_path}/week" %></li>
      <li><%= link_to "Month", "#{planning_path}/month" %></li>
      <li><%= link_to "Directory", directory_path %></li>
      <li><%= link_to "Edit profile", "#{users_path}/#{current_user.id}/edit" %></li>
      <% if admin? %>
        <li><%= link_to "Send invitation", invitations_path %></li>
      <% end %>
      <li class="active"><%= link_to "Logout", logout_path %></li>
    </ul>
  </section>
</nav>

<!-- Desktop topbar -->
<nav class="top-bar hide-for-small-only" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><%= link_to "Today", planning_path %></li>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
	  <li><%= link_to "Week",  "#{planning_path}/week" %></li>
	  <li><%= link_to "Month", "#{planning_path}/month" %></li>
          <li><%= link_to "Edit profile", "#{users_path}/#{current_user.id}/edit" %></li>
	  <% if admin? %>
            <li><%= link_to "Send invitation", invitations_path %></li>
	  <% end %>
          <li class="active"><%= link_to "Logout", logout_path %></li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li><%= link_to "Directory", directory_path %></li>
    </ul>
  </section>
</nav>
